.c-content-row{
    width: 100%;
    align-items: flex-start;

    &.t-dark{
        color: $lightText
    }

    &--between{
        justify-content: space-between;
    }
}

@include tablet-styles {
    .c-content-row{
        padding: 7rem 3rem 3rem 3rem;

        &__group {
            &--resp-row-3 {
                grid-row: 3;
            }
        }

        &__item {
            &--responsive-center {
                margin-right: 0;
                margin-left: 0;
                margin-top: 0;
                margin-bottom: 0;
                margin: auto;
            }
        }
    }
}