._u-heading-color-override{
    color: $lightText !important;
}

._u-margin-reset {
    margin: 0 !important;
}

._u-text-transform-override {
    text-transform: none;
}

._u-fix-p-padding p {
    margin-bottom: 1.75em !important;
}