// Responsive Breakpoints
$smallDeviceBreakpoint: 46.875rem;
$mediumDeviceBreakpoint: 75rem;

// Default Widths
$defaultContentMaxWidth: 140rem;
$defaultFormWidth: 45rem;
$largeFormWidth: 60rem;

// Colors
$lightText: #FFFFFF;
$darkText: #000000;
$bgLight: #FFFFFF;
$bgDark: #000000;
$rotueBlue: #9CF5F5;
